:root {
    --cor01: #FAF0CA;
    --cor02: #F4D35E;
    --cor03: #EE964B;
    --cor04: #F95738;
    --cor05: #0D3B66;

    --cor-wt: #f8f8f8;
    --cor-gr01: #D9D9D9;
    --cor-gr02: #434343;

    --cor-rd: #9e2a2b;
    --cor-gr: #a1c181;

    --grad-bg-tb: linear-gradient(to bottom, #1A76CC, var(--cor05));
    --grad-bg-tt: linear-gradient(to top, #1A76CC, var(--cor05));

    --radius: 15px;
    --shadow: 0px 4px 8px hsla(0, 0%, 0%, 0.2);
}

.sec_form {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--grad-bg-tt);
}

.sec_form.oculto {
    display: none;
}

.sec_form.visivel {
    display: flex;
}

.form_infos {
    padding: 30px;
    width: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    background: var(--cor02);
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    color: var(--cor05);
}

.form_infos h1 {
    text-align: center;
    margin-bottom: 5px;
}

.label_form {
    width: 100%;
}

.label_form input:not(.arquivo) {
    width: 100%;
    margin: 8px 0;

    padding: 10px 15px;
    border-radius: var(--radius);
    border: none;
    box-shadow: var(--shadow);
    background: var(--cor-wt);

    font-size: 1rem;
}

.lb-arquivo {
    margin: 5px 0px;
    font-weight: bold;

    box-shadow: var(--shadow);
    padding: 10px 20px;
    border-radius: var(--radius);
    background-color: var(--cor-wt);
}

.arquivo {
    margin: 5px;
}

.form_infos button {
    width: 50%;
    margin: 15px auto 0px auto;
    padding: 10px;
    
    font-size: 1rem;
    font-weight: bold;

    border: none;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    background: var(--cor-gr);

    transition: background 0.1s;
}

.form_infos button:hover {
    outline: 4px solid var(--cor-gr);
    background: var(--cor-wt);
    color: var(--cor-gr);

    cursor: pointer;

    transition: background 0.1s;
}