:root {
    --cor01: #FAF0CA;
    --cor02: #F4D35E;
    --cor03: #EE964B;
    --cor04: #F95738;
    --cor05: #0D3B66;

    --cor-wt: #f8f8f8;
    --cor-gr01: #D9D9D9;
    --cor-gr02: #434343;

    --cor-rd: #9e2a2b;
    --cor-gr: #a1c181;

    --radius: 15px;
    --shadow: 0px 4px 8px hsla(0, 0%, 0%, 0.2);
}

header {
    width: 100%;
    position: fixed;
    z-index: 2;
    padding: 50px;

    display: flex;
    justify-content: flex-end;
}

.site-ext {
    width: 200px;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--cor02);
    border-radius: var(--radius);
    
    text-decoration: none;
    color: var(--cor-gr02);
    font-weight: bold;

    box-shadow: var(--shadow);

    transition: outline 0.3s,  translate 0.3s;
}

.site-ext:hover {
    outline: 1px solid var(--cor05);
    
    transform: translate(2px, -2px);

    transition: outline 0.33s,  translate 0.3s;
}